.searchModule {
  /* -webkit-box-shadow: 0px 0px 70px 23px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 70px 23px rgba(0,0,0,1);
  box-shadow: 0px 0px 70px 23px rgba(0,0,0,1);
  border-radius: 20px; */
}

.searchBar {
  transition: all 0.3s ease;
  padding: 0px;
  font-size: 0px;
  width: 100%;
  opacity: 0;
  background: #282828;
}

.searchBar.click {
  opacity: 100;
  visibility: visible;
  width: 100%;
  padding: 30px;
  background: #282828;
  color: white;
  border: none;
  font-size: 20px;
}
